In [1]:
import os
import random
import numpy as np
import pandas as pd

In [26]:
data_string = open('../yahoo-origin/user.txt', 'r', encoding = "ISO-8859-1").read().strip().split('\n')
data_dict = {"user_id":[],"item_id":[],"score":[]}
for da in data_string:
    l_string = da.split(',')
    data_dict["user_id"].append(eval(l_string[0]))
    data_dict["item_id"].append(eval(l_string[1]))
    data_dict["score"].append(eval(l_string[2]))

In [28]:
train_data_raw = pd.DataFrame(data_dict)
train_data_raw.shape

        user_id  item_id  score
0             0       13      5
1             0       34      1
2             0       45      1
3             0       82      1
4             0       92      1
...         ...      ...    ...
311699    15399      563      5
311700    15399      577      1
311701    15399      636      5
311702    15399      883      1
311703    15399      948      5

[311704 rows x 3 columns]

In [32]:
train_data_pos = train_data_raw[train_data_raw.score>3]
train_data_pos.shape

        user_id  item_id  score
0             0       13      5
6             0      152      5
7             0      169      4
8             0      183      5
9             0      193      5
...         ...      ...    ...
311697    15399      398      5
311698    15399      448      5
311699    15399      563      5
311701    15399      636      5
311703    15399      948      5

[125077 rows x 3 columns]

In [33]:
train_data_pos.nunique()

user_id    14382
item_id     1000
score          2
dtype: int64

In [34]:
train_data_raw.nunique()

user_id    15400
item_id     1000
score          5
dtype: int64

In [35]:
train_data_pos.item_id.max()

999

In [36]:
train_data_pos.user_id.max()

15399

In [37]:
data_string2 = open('../yahoo-origin/random.txt', 'r', encoding = "ISO-8859-1").read().strip().split('\n')
data_dict2 = {"user_id":[],"item_id":[],"score":[]}
for da in data_string2:
    l_string = da.split(',')
    data_dict2["user_id"].append(eval(l_string[0]))
    data_dict2["item_id"].append(eval(l_string[1]))
    data_dict2["score"].append(eval(l_string[2]))

In [42]:
test_data_raw = pd.DataFrame(data_dict2)
test_data_raw.shape

(54000, 3)

In [43]:
test_data_raw.user_id.max()

5399

In [48]:
for id in test_data_raw.user_id.unique():
    if id not in train_data_pos.user_id.unique():
        print(id)

3
16
38
46
47
55
114
117
172
178
200
201
205
213
234
246
252
255
274
296
320
327
345
347
360
379
381
399
408
450
460
478
500
514
553
581
626
685
691
720
729
732
738
762
775
800
826
839
840
853
883
886
887
889
905
920
924
955
983
985
991
998
1037
1051
1095
1100
1105
1107
1113
1123
1139
1148
1151
1158
1171
1181
1202
1240
1251
1276
1295
1302
1318
1334
1335
1336
1343
1369
1385
1392
1395
1397
1413
1430
1432
1456
1460
1501
1508
1523
1531
1535
1536
1547
1556
1564
1575
1598
1611
1634
1635
1650
1655
1682
1687
1716
1726
1737
1743
1745
1746
1789
1797
1832
1841
1858
1859
1893
1926
1942
1944
1948
1974
1981
1994
2023
2039
2094
2111
2116
2123
2136
2159
2173
2176
2215
2243
2247
2264
2265
2283
2309
2332
2334
2353
2360
2400
2401
2404
2407
2418
2429
2448
2451
2458
2461
2463
2473
2475
2553
2567
2569
2588
2653
2666
2667
2705
2738
2757
2795
2811
2812
2825
2838
2854
2857
2868
2873
2890
2891
2932
2933
2945
2948
2954
2977
2978
2994
3040
3043
3048
3063
3072
3117
3124
3150
3173
3178
3195
3213
3231
3233
3247
3267
3278
3298
3304
3313
3319
3340
3353
3391
3411
3429
3441
3472
3489
3505
3507
3509
3519
3531
3558
3575
3579
3582
3599
3625
3635
3640
3646
3662
3673
3686
3698
3716
3739
3749
3754
3779
3781
3784
3801
3809
3826
3827
3839
3854
3861
3876
3878
3999
4038
4040
4044
4068
4088
4094
4137
4148
4150
4157
4158
4192
4217
4219
4235
4259
4269
4283
4307
4308
4358
4378
4383
4388
4389
4391
4393
4427
4433
4488
4540
4550
4565
4592
4596
4601
4621
4640
4684
4694
4701
4735
4753
4763
4785
4794
4811
4815
4838
4851
4864
4870
4882
4928
4965
4974
4991
5047
5122
5140
5176
5186
5193
5198
5205
5233
5235
5242
5250
5252
5255
5262
5278
5296
5308
5324
5356
5366
5381